@keyframes everything-entrance{
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 100;
  }
}

@keyframes comment-entrance{
  0%{
    transform: translateY(-50px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 100;
  }
}

html{
  font-family: Arial;
  width: 100vw;
}

#everything-container{
  margin: 5vh auto 5vh auto;
  
  width: fit-content;
  
  animation-name: everything-entrance;
  animation-duration: 0.3s;
  animation-direction: normal;
}

fieldset{
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 20px;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: gray;
}

input[type="text"]{
  height: 25px;
  padding: 5px;
  cursor: text;
}
textarea{
  padding: 10px;
  cursor: text;
}

button{
  width: 30%;
  max-width: 100px;
  
  margin-left: auto;
  
  cursor: pointer;
}
button:active{
  background-color: black;
  color: white;
}

.interactable{
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
.interactable:hover{
  border-color: black;
  border-width: 2px;
}
.interactable.text-input-area:focus{
  outline: none;
  box-shadow: inset 3px 3px 3px rgba(0,0,0,0.2);
}

article{
  border-bottom-style: solid;
  border-bottom-color: gray;
  border-bottom-width: 1px;
  
  animation-name: comment-entrance;
  animation-duration: 0.2s;
  animation-direction: normal;
}

article p{
  word-wrap: break-word;
}